themes {
    my-theme {
        text_unselected {
            base 235 219 178
            background 60 56 54
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 250 189 47
            emphasis_3 211 134 155
        }
        text_selected {
            base 251 241 199
            background 80 73 69
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 250 189 47
            emphasis_3 211 134 155
        }
        ribbon_selected {
            base 40 40 40
            background 131 165 152
            emphasis_0 204 36 29
            emphasis_1 254 128 25
            emphasis_2 177 98 134
            emphasis_3 131 165 155
        }
        ribbon_unselected {
            base 40 40 40
            background 235 219 178
            emphasis_0 204 36 29
            emphasis_1 251 241 199
            emphasis_2 131 165 152
            emphasis_3 177 98 134
        }
        table_title {
            base 250 189 47
            background 0
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 250 189 47
            emphasis_3 211 134 155
        }
        table_cell_selected {
            base 251 241 199
            background 80 73 69
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 250 189 47
            emphasis_3 211 134 155
        }
        table_cell_unselected {
            base 235 219 178
            background 60 56 54
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 250 189 47
            emphasis_3 211 134 155
        }
        list_selected {
            base 251 241 199
            background 80 73 69
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 250 189 47
            emphasis_3 211 134 155
        }
        list_unselected {
            base 235 219 178
            background 60 56 54
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 250 189 47
            emphasis_3 211 134 155
        }
        frame_selected {
            base 250 189 47
            background 0
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 211 134 155
            emphasis_3 0
        }
        frame_highlight {
            base 254 128 25
            background 0
            emphasis_0 254 128 25
            emphasis_1 254 128 25
            emphasis_2 254 128 25
            emphasis_3 254 128 25
        }
        exit_code_success {
            base 184 187 38
            background 0
            emphasis_0 142 192 124
            emphasis_1 60 56 54
            emphasis_2 211 134 155
            emphasis_3 131 165 152
        }
        exit_code_error {
            base 251 73 52
            background 0
            emphasis_0 215 153 33
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 211 134 155
            player_2 131 165 152
            player_3 0
            player_4 215 153 33
            player_5 142 192 124
            player_6 0
            player_7 204 36 29
            player_8 0
            player_9 0
            player_10 0
        }
    }
}