set show-all-if-ambiguous on
set expand-tilde on

# This used to be enabled, but doesn't play well with
# starship. There is a mode option in starship, but it's
# not supported when using bash. I think the next best
# option is to migrate away from bash.
# set show-mode-in-prompt on

$if mode=vi
    # normal mode
    set keymap vi-command
    "J": end-of-history
$endif
