# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$time\
$directory\
$git_branch\
$git_status\
$nix_shell\
$character\
"""

# Disable the blank line at the start of the prompt
add_newline = false

[character]
success_symbol = "[ ](bg:green)"
error_symbol = "[ ](bg:red)"
# FIXME vicmd_symbol is not supported on bash :(
# https://starship.rs/config/#character
# vicmd_symbol = "[ ](bg:green)"

[username]
show_always = true
style_user = "bg:#9A348E"
style_root = "bg:#9A348E"
format = '[ $user ]($style)'

[hostname]
ssh_only = true
format = '[ $ssh_symbol$hostname ]($style)'
style = 'bold dimmed red'

[directory]
format = "[ $path ]($style)"
style = "bg:#33658A"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "bg:#429bf5"
format = '[ $symbol $branch ]($style)'

[git_status]
ahead = ">"
behind = "<"
diverged = "<>"
renamed = "r"
deleted = "-"
up_to_date = "✓"
modified = "*"
staged = "*"
# I don't really care about stashed changes.
stashed = ""
style = "bg:#429bf5"
# No space before the status because we are in the same
# "section" as the git branch.
format = '[$all_status$ahead_behind ]($style)'

[nix_shell]
style = "bg:#86BBD8"
symbol = "nix"
format = '[ $symbol ]($style)'

[time]
disabled = false
# See https://docs.rs/chrono/0.4.7/chrono/format/strftime/index.html for
# all the formats
time_format = "%X"
style = "bg:#7A349A"
format = '[ $time ]($style)'
